.ant-modal-body {
    padding: 20px;
  }
  
  .ant-card {
    background-color: #F8C2D1; /* Màu hồng nhạt tương tự hình ảnh */
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .ant-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .ant-card-body {
    font-size: 14px;
    color: #666666;
  }
  
  .ant-btn-primary {
    background-color: #FF69B4; /* Màu hồng đậm hơn */
    border-color: #FF69B4;
  }
  